# ignore pycache files
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*

# ignore vscode folder
.vscode/*

# ignore virtualenv folder & command files
venv/*
venv.cmd
venv.sh
show_tensorboard.cmd
show_tensorboard.sh

# ignore data folder
data/*
!data/.gitkeep

# ignore trained model folder
model/*
!model/.gitkeep
!model/checkpoint/.gitkeep

# ignore log folder
logs/*

# ignore temp folder
tmp/*

